<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade Vue-Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>

    <!-- Aplicação 01 -->

    <div id="app">
        {{message}}
    </div>

    <!-- Aplicação 02 -->

    <div id="app-2">
        <span v-bind:title="message">
            Pare o mouse sobre mim e veja a dica interligada dinamicamente
        </span>
    </div>

    <!-- Aplicação 03 -->

    <div id="app-3">
        <p v-if="seen"> Now, you see me</p>
    </div>

    <!-- Aplicação 04 -->

    <div id="app-4">
        <ol>
            <li v-for="all in all">
                {{all.text}}
            </li>
        </ol>
    </div>

    <!-- Aplicação 05 -->

  <div id="app-5">
      <p > 
          {{message}}
      </p>
      <button v-on:click ="reverseMessage"> 
          Inverter Mensagem
        </button>
  </div>

<script src="index.js"></script>
</body>
</html>